<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>本博客所有文章除特别声明外，均采用 <a target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">CC BY-NC-ND 3.0</a> 协议</p>
                <p class="copyright text-muted">
                    Theme By <a target="_blank" href="https://github.com/levblanc">Levblanc.</a> Inspired By <a target="_blank" href="https://github.com/klugjo/hexo-theme-clean-blog">Clean Blog.</a>
                    <p class="copyright text-muted">
                        Powered By <a target="_blank" href="https://hexo.io/">Hexo.</a>
                    </p>
            </div>
        </div>
    </div>
</footer>